<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar">
        <activity
            android:name=".actividades.consultar_tareas_mantenimiento"
            android:exported="false" />
        <activity
            android:name=".actividades.ConsultarTareasLimpieza"
            android:exported="false" />
        <activity
            android:name=".actividades.GestionTareasActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.EmpleadoFormActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.GestionEmpleadosActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.ConsultarHuespedesActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.GestionEntradasSalidasActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.Solicitar_Tarea"
            android:exported="false" />
        <activity
            android:name=".actividades.Consultar_Estado_Reservas"
            android:exported="false" />
        <activity
            android:name=".actividades.Realizar_Reserva_Activity"
            android:exported="false" />
        <activity
            android:name=".actividades.Crear_Encuesta_Satisfaccion"
            android:exported="false" />
        <activity
            android:name=".actividades.MantenimientoActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.HuespedActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.LimpiadorActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.RecepcionistaActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.GerenteActivity"
            android:exported="false" />
        <activity
            android:name=".actividades.Consultar_Encuestas_Satisfaccion"
            android:exported="false" />
        <activity
            android:name=".actividades.Consultar_Ocupacion_Hotel"
            android:exported="false" />
        <activity
            android:name=".actividades.Consultar_Editar_Perfil"
            android:exported="false" />
        <activity
            android:name=".actividades.Pantalla_Registro"
            android:exported="false" />
        <activity
            android:name=".Pantalla_Menu_Usuarios"
            android:exported="false" />
        <activity
            android:name=".actividades.Pantalla_Inicio"
            android:exported="false" />
        <activity
            android:name=".actividades.Presentacion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>